.game-container {
    display: flex;
    flex-direction: column ;
    align-items: center;
    border: 3px solid red;
    border-radius: 10px;
    width: 45%;
    margin: auto;
    margin-bottom: 20px;
    background-color: cadetblue;
}

.game-name {
    font-size: 20px;
}

.game-date {
    font-style: italic;
    color: white;
}
.game-img {
    margin-bottom: 10px;
}